<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
</head>
<body>
    <form name="form", method="POST", style="text-align: center;">
        <br>
        Height: <input type="number" step="0.01" name="Height" placeholder="Enter height in m" required/>
        <br><br>
        Weight: <input type="number" step="0.01" name="Weight" placeholder="Enter weight in kg" required/>
        <br><br>
        <button value="Submit">Run</button>
    </form>
    <p style="text-align: center;">{{ output }}</p>
</body>
</html>